@use '../../../styles/variables' as *;

.link, .accountLinks, .middleNavLinks {
    margin: 13px;
}

.header {
    background-color: #5b7ea3;
    color: white;
}

.navContainer {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.logoNav {
    width: 250px;
    display: flex;
    flex-direction: column;

    @media screen  and (max-width: 787px){
        width: auto;
    }
}

.logoNav h2 {
    margin-top: 10px;
}

.logoNav img {
    height: 75px !important;
    width: 75px !important;
}

.accountLinks {
    margin-left: auto;
}

.middleNavLinks {
    margin-left: auto;
}


.footer, .footer nav {
    background-color: #5b7ea3;
    color: white;
}


.disclaimer {
    font-style: italic;
}